@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
 
}

body{
    background-image:linear-gradient(to right, #04B2D9, #05DBF2);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow:5px 5px 15px #0d0d0d9f ;
    width: 600px;
    padding: 10px;
    margin:auto;
}

h1{
    color:#0F5FA6 ;
    text-align: center;
    text-shadow: 1px 1px 0px #0f60a69f;

}

h2{
    color: #0A8CBF;

}

p{
    text-align: justify;

}